.advantages {
  width: 100%;

  background-image: url("../img/advantages-background.jpg");

  @include retina {
    background-image: url("../img/advantages-backgroundd@2x.jpg");
  }

  background-color: #e3ecf6;
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages__container {
  padding-top: 7rem;
  padding-bottom: 7.5rem;

  @include vp-1023 {
    padding-top: 5.6rem;
    padding-bottom: 6.25rem;
  }

  @include vp-767 {
    padding-top: 3.6rem;
    padding-bottom: 4.2rem;
  }
}

.advantages__container h2 {
  margin: 0 0 3rem 0;
  padding: 0;

  text-align: center;

  @include title;

  @include vp-1023 {
    margin: 0 0 3.2rem 0;
  }

  @include vp-767 {
    margin: 0 0 2rem 0;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;

  @include vp-1919 {
    gap: 3rem;
  }

  @include vp-1439 {
    gap: 2.5rem;
  }

  @include vp-1023 {
    gap: 1.88rem;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  background-color: $color-default-white;

  padding: 5rem 2rem 2.9rem 1.87rem;

  @include vp-1023 {
    padding: 4.3rem 0.9rem 1.4rem 1.25rem;
  }

  @include vp-767 {
    padding: 4.4rem 0.94rem 1.3rem 1.25rem;
  }
}

.advantages__item--ship-face {
  @include icon-advantages__item;
  background-image: url("../img/svg/ship-face.svg");

  @include vp-1023 {
    background-size: 21px 26px;
  }
}

.advantages__item--mark {
  @include icon-advantages__item;
  background-image: url("../img/svg/mark.svg");

  @include vp-1023 {
    background-size: 27px 26px;
  }
}

.advantages__item--ship-side {
  @include icon-advantages__item;
  background-image: url("../img/svg/ship-side.svg");

  @include vp-1023 {
    background-size: 36px 26px;
  }
}

.advantages__item h3 {
  margin: 0 0 0.5rem;

  @include Montserrat500;
  font-size: 1.13em;
  line-height: 150%;

  @include vp-767 {
    width: 83%;
    margin: 0 0 0.3rem;
  }
}

.advantages__item p {
  margin: 0;

  font-size: 0.88em;
  line-height: 140%;
}
