.cruises {
  width: 100%;

  background-color: $color-default-white;
}

.cruises__container {
  padding-top: 5.3rem;
  padding-bottom: 7.5rem;

  @include vp-1023 {
    padding-top: 5.6rem;
    padding-bottom: 3.5rem;
  }

  @include vp-767 {
    padding-top: 3.6rem;
    padding-bottom: 3.7rem;
  }
}

.cruises__container h2 {
  margin: 0 0 3.1rem;

  @include title;

  text-align: center;

  @include vp-1023 {
    margin: 0 0 3.2rem;
  }

  @include vp-767 {
    margin: 0 0 2rem;
  }
}

.cruises__list {
  margin: 0;
  padding: 0 0.9rem;

  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.88rem;

  @include vp-1279 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0 0.6rem;
  }
}

.cruises__item {
  display: grid;
  position: relative;

  padding: 1.6rem 1.5rem 2.19rem 1.6rem;

  background-color: #011c40;

  @include vp-1023 {
    padding: 1.8rem 2.2rem 2.19rem 2.22rem;
  }

  @include vp-767 {
    padding: 1.79rem 1.5rem 2.19rem 1.6rem;
  }
}

.cruises__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cruises__item:hover img {
  z-index: -1;
}

.cruises__item h3 {
  margin: 0 0 0.8rem;

  @include Montserrat500;
  font-size: 1.13em;
  line-height: 150%;
  color: $color-default-white;
}

.cruises__item h4 {
  margin: 0;
  position: absolute;
  left: 30px;
  bottom: 23px;
  right: 20px;

  @include Montserrat500;
  font-size: 1.13em;
  line-height: 150%;
  color: $color-default-white;

  @include vp-1023 {
    left: 36px;
    bottom: 28px;
  }

  @include vp-767 {
    left: 26px;
    bottom: 18px;
  }
}

.cruises__item:hover h4 {
  display: none;
}

.cruises__item--hover {
  padding: 1.6rem 1.5rem 2.19rem 1.6rem;

  & img {
    z-index: -1;
  }

  & h4 {
    display: none;
  }

  @include vp-1023 {
    padding: 1.8rem 2.2rem 2.19rem 2.22rem;
  }

  @include vp-767 {
    padding: 1.79rem 1.5rem 2.19rem 1.6rem;
  }
}

.cruises__item h5 {
  margin: 0;

  @include Montserrat500;
  font-size: 0.88em;
  line-height: 140%;
  color: $color-default-white;
}

.cruises__item p {
  margin: 0 0 0.6rem;

  font-size: 0.88em;
  line-height: 140%;
  color: $color-default-white;

  @include vp-1023 {
    margin: 0 0 0.8rem;
  }
}

.cruises__button {
  display: flex;
  align-self: end;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  text-align: center;

  border: none;
  background-color: $color-default-white;
  color: $color-default-black;

  @include Montserrat600;
  font-size: 0.88em;
  line-height: 150%;

  padding: 0.6rem 0;
  margin-top: 0.6rem;

  cursor: pointer;

  @include hover-focus {
    opacity: 0.7;
  }

  @include vp-1023 {
    margin-top: 0.9rem;
  }
}
