.header {
  width: 100%;
  min-height: 120px;

  position: relative;
  color: $color-default-white;

  @include Background;

  @include vp-1023 {
    min-height: 100px;
  }

  @include vp-767 {
    min-height: 70px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;

  padding-top: 2.19rem;
  padding-bottom: 2.19rem;

  @include vp-1023 {
    padding-top: 1.88rem;
    padding-bottom: 1.88rem;
  }

  @include vp-767 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    position: relative;
  }
}

.header__list {
  margin: 0;
  padding: 0;
  width: 71.5rem;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2.05rem;
  row-gap: 1rem;

  @include vp-1919 {
    width: 41.5rem;
  }

  @include vp-1439 {
    width: 37.1rem;
  }

  @include vp-1023 {
    width: 31.5rem;
    column-gap: 1.44rem;
  }

  @include vp-767 {
    width: 17.82rem;
    height: 100vh;
    background-color: $color-default-white;
    padding: 5.31rem 0 1.5rem 1.56rem;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1.6rem;

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    &::before {
      content: "";
      width: 42px;
      height: 22px;

      position: absolute;
      top: 1.25rem;
      left: 0.94rem;

      background-image: url("../img/svg/logo-black.svg");
      background-repeat: no-repeat;
    }
  }
}

.header__list--no-js {
  @include vp-767 {
    width: 100%;
    height: auto;
    background-color: $color-default-white;
    padding: 5.31rem 0 1.5rem 1.56rem;

    flex-direction: column;
    row-gap: 1.75rem;

    position: relative;
    z-index: 1;
    top: -20px;
    right: -59px;
  }
}


.header__link {
  @include Montserrat500;
  font-size: 1em;
  line-height: 1.25em;
  color: $color-default-white;

  @include hover-focus {
    opacity: 0.7;
  }

  @include vp-1023 {
    font-size: 0.88em;
    line-height: 1.21em;
  }

  @include vp-767 {
    font-size: 1.13em;
    line-height: 0.82em;
    color: $color-default-black;
  }
}

.header__button {
  display: none;

  @include vp-767 {
    display: block;
    width: 24px;
    height: 14px;

    cursor: pointer;

    border: none;
    background-color: inherit;
    background-image: url("../img/svg/burger.svg");
    background-repeat: no-repeat;
    background-position: center center;

    &[data-state="active"] {
      width: 43px;
      height: 62px;

      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;

      background-image: url("../img/svg/icon-close.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 24px 12px;

      @include hover-focus {
        opacity: 0.5;
      }
    }
  }

  @include hover-focus {
    opacity: 0.7;
  }
}

.header__overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;

  background: rgba(0, 43, 102, 0.5);

  cursor: pointer;
}
