.container {
  width: 100%;
  max-width: 2600px;
  margin: 0 auto;
  padding-left: 21.88em;
  padding-right: 21.88em;

  @include vp-1919 {
    padding-left: 12.5em;
    padding-right: 12.5em;
  }

  @include vp-1699 {
    padding-left: 9.37em;
    padding-right: 9.37em;
  }

  @include vp-1439 {
    padding-left: 7.5em;
    padding-right: 7.5em;
  }

  @include vp-1366 {
    padding-left: 6.44em;
    padding-right: 6.44em;
  }

  @include vp-1023 {
    padding-left: 2.81em;
    padding-right: 2.816em;
  }

  @include vp-767 {
    padding-left: 0.94em;
    padding-right: 0.94em;
  }
}
